html, head, body {
 margin: 0;
}
body {
 font-family: 'Source Sans Pro', sans-serif;
 color: #35374A;
}

h1 {
 font-size: 24px;
 font-weight: 700;
}

h2 {
 font-weight: 700;
}

p {
 font-weight: 400;
}

.js-focus-visible :focus:not(.focus-visible) {
 outline: none;
}
